:root {
  --menu-background: #304156;
  --menu-text: #bfcbd9;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: #263445;
  --sidebar-logo-background: #2d3748;
}

$menu-background: var(--menu-background);
$menu-text: var(--menu-text);
$menu-active-text: var(--menu-active-text);
$menu-hover: var(--menu-hover); 
$sidebar-logo-background: var(--sidebar-logo-background); 

$sidebar-width: 210px; 
$sidebar-width-collapsed: 54px;
$navbar-height: 50px;
$tags-view-height: 34px;
